.active {
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
}
.alive {
    display: unset !important;
    opacity: 1 !important;
}
.sleep {
    position: relative;
    transition: 0.5s;
    &::before{
        height:100%;
        width: 100%;
        position: absolute;
        content: '';
        overflow: hidden;
        background-color: rgba(0,0,0,0.7);
        z-index:2;
    }
}

.kill {
    display: none;
}