@import './colors';
@import './normalize';
@import './elements';
@import './fonts';
@import './atomic';

.sun {
    background: url('../img/sun.svg') top left/contain no-repeat;
    width: 10rem;
    height: 10rem;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    z-index: 1;
}

.coming-soon {
    color: white;
    text-align: center;
    position: relative;

    h1 {
        font-size: 8rem;
        font-family: 'Sunny Title';
        margin: 3rem 0;
        text-shadow: inset 0.2rem 0.2rem 0.4rem #eda800;
        text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);

        span {
            color: $red;
        }
    }

    p {
        font-family: 'Sunny Body';
        font-size: 4rem;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        margin: 3rem 0;
    }
}

@import './mediaQueries';
