<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>HTML 5</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <main class="sleep">
    <span id="sun" class="sun"></span>
    <div class="coming-soon">
      <h1>Sunny Hotel, <span>Batala</span></h1>
      <p>Website under construction</p>
      <button id="contactButton">Contact us</button>
    </div>
    <div class="modal active">
      <div class="modal-head">
        <img src="../../assets/img/aircon.svg" height="25" class="head-logo" />
        <img src="../../assets/img/parking.png" height="25" class="head-logo" />
        <img src="../../assets/img/wifi.svg" height="25" class="head-logo" />
        <img src="../../assets/img/room-service.svg" height="25" class="head-logo" />
        <img src="../../assets/img/restaurant.svg" height="25" class="head-logo" />
        <img src="../../assets/img/laundry.svg" height="25" class="head-logo" />
      </div>
      <div class="modal-content">
        <h2>Sunny Hotel Restaurant & Beer Bar</h2>
        <address>
          <p>Near Bus Stand Batala</p>
          <p>Jalandhar Road</p>
          <p>Batala, Punjab</p>
          <p>143505, India</p>
          <p> +91 187 124 5344</p>
        </address>
        <div class="links-logos"></a>
          <a href="" title="" rel="noopener noreferrer" ><img src="../../assets/img/goibibo.png" width="50" height="50" /></a>
          <a href="" title="" rel="noopener noreferrer" ><img src="../../assets/img/tripadvisor.png" height="50" /></a>
        </div>
      </div>
      <div id="close" class="modal-footer" tabindex="0">
         Close
      </div>
    </div>
  </main>
</body>

</html>
